<mat-card [ngClass]="animateOnRouteEnter">
  <mat-card-header>
    <mat-card-title>
      <h3> Bravo, vous êtes désormais en mesure de faire ce qui suit :</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li>Créer un module réutilisable</li>
      <li>Créer un component parent et des components enfants</li>
      <li>Faire du one-way data binding</li>
      <li>Créer un event</li>
      <li>Et plus encore</li>
    </ul>
  </mat-card-content>
</mat-card>

<mat-card [ngClass]="animateOnRouteEnter">
  <mat-card-header>
    <mat-card-title>
      <h3> Voici quelques bons tutos et ressources :</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li>
        <a href="https://angular.io/docs">Doc Angular</a>
      </li>
      <li>
        <a href="https://material.angular.io/components/categories">Doc Angular Material</a>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=htPYk6QxacQ">Beginner's guide / introduction</a>
      </li>
      <li>
        <a href="https://coursetro.com/posts/code/109/Angular-5-Animation-Tutorial">Angular Animations</a>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=uONz0lEWft0&list=PLillGF-RfqbZMNtaOXJQiDebNXjVapWPZ">MEAN Stack App</a>
      </li>
    </ul>
  </mat-card-content>
</mat-card>

<mat-card [ngClass]="animateOnRouteEnter">
  <mat-card-content>
      <iframe src="https://giphy.com/embed/g9582DNuQppxC" width="480" height="240" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
      <iframe src="https://giphy.com/embed/xUOwGnQcMLWs3dwCB2" width="480" height="240" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
      <iframe src="https://giphy.com/embed/xT77XWum9yH7zNkFW0" width="480" height="240" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  </mat-card-content>
</mat-card>
